.square {
    background-color: black;
    margin: 1px;
    flex-grow: 1;
}

.squaresRow {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#squaresContainer {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#resetButton {
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

h1 {
    text-align: center;
}

* {
    font-family: 'Courier New', Courier, monospace;
}