.square {
    background-color: white;
    flex-grow: 1;
    cursor: pointer;
}

.squaresRow {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 1px;
}

#squaresContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 700px;
    height: 700px;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#resetButton {
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: #20C20E;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    color: black;
}

h1 {
    text-align: center;
}

* {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #20C20E;
}